kolibri_databases/
kolibri_content_databases/
masteredLogData/
masteredContentData/
local_settings.py
Code/Config
Code/testpy.py
Code/Fetcher.log
Code/__pycache__/
Download_databases_backup.py
Download_databases.py
